.axis path,
.axis line {
  fill: none;
  stroke: yellow;
  shape-rendering: crispEdges;
}
.axis text {
    stroke: yellow;
    font-size: 10px;
}

.line {
  fill: none;
  stroke: yellow;
  stroke-width: 1.5px;
}

#receiverBlock {
    position: relative;
}

#spectrumAnalyzer {
    background: rgba(0,0,0,1);
    position: relative;
}

form {
    display: inline;
}


#receiverBlock polyline,polygon,rect,line,path {
    fill:none;
    stroke-width:1;
    stroke:#000;
}
#receiverBlock text {
    font-family:sans-serif;
    fill:#000;
}

#receiverBlock circle {
    fill:#ffffff;
    fill-opacity:1;
    fill-rule:evenodd;
    stroke:#000000;
    stroke-width:0.92437679px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
}

#receiverBlock circle:hover {
    fill: yellow;
}

.selectedProbe {
    left: -2000px;
    position: absolute;
}
