body{
  background: #c4c7cb;
  background-image: -webkit-radial-gradient(cover, #FFF,#D1D1D1	);
  background-image: -moz-radial-gradient(cover, #e8eaec, #a4a8ae);
  background-image: -o-radial-gradient(cover, #e8eaec, #a4a8ae);
  background-image: radial-gradient(cover, #e8eaec, #a4a8ae)
}

html{
  min-height:100%;
}

h1 {
    font-family: 'Old Standard TT';
    font-weight: 900;
    text-align: center;
    margin:0.5em;
    padding:0.5em;
}


nav {
	height: 0;
    padding: 0;
	margin: 0;
	position: relative;
}

nav li 	{
	height: auto;
	width: 12em;
	float: left;
	text-align: center;
	list-style: none;
	font:0.7em "Raleway;
	padding: 0;
	margin: 0;
	background-color: #eee;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);
	border-radius: 3px;
    margin-left:10px;
}

nav a{							
	padding:13px;
	text-decoration: none; 
	color:#333;
	text-shadow: 0 1px #fff;
	display: block;
}
nav li ul{
	display: none;
	height: auto;									
	margin-left: -11px;
	padding: 0;
}				

nav li:hover ul{
	display: block;

}

nav li ul li {
	background-color:#eec;
  	border: 1px solid #ccc;
} 

nav li:hover, a:hover {
	 background: #e4e4c4;
} 


article {
    clear: both;
    margin: 2em;
    padding: 2em;
    height: 2em;
    z-index: -1;
    position: absolute;
}